@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 62.5%;
}
body {
  /* background: linear-gradient(330deg, #2ebfff63, rgba(232, 166, 255, 0.91));
  background-repeat: no-repeat; */
}

a,
button {
  cursor: pointer;
}
