.markdown {
  @apply text-2xl leading-relaxed my-6 truncate whitespace-normal;
}

.markdown p,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown h1 {
  @apply text-5xl mt-16 mb-4 leading-snug font-semibold;
}

.markdown h2 {
  @apply text-4xl mt-12 mb-4 leading-snug font-semibold;
}

.markdown h3 {
  @apply text-3xl mt-8 mb-4 leading-snug font-semibold;
}

.markdown a {
  color: darkturquoise;
}

.markdown code {
  background-color: floralwhite;
  border-radius: 5px;
  font-weight: 600;
  padding: 2px;
  color: black;
}

.markdown pre {
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  background-color: lightblue;
}

.markdown pre code {
  background-color: inherit;
  font-weight: 100;
  color: black;
  font-size: 1.2rem;
  white-space: pre-wrap;
}

.markdown blockquote {
  border: 1px solid powderblue;
  border-radius: 5px;
  padding: 10px;
  background-color: azure;
  color: black;
}
